.menu-btn {
    display: block;
    width: 100%;
    height: 44px;
    background: #ffd735;
    color: #444;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s;
}

.menu-btn:hover {
    background: #f5b700; 
    cursor: pointer;
}

#pokeball-opening {
    display: none;
    position: absolute;
    z-index: 2000;
    width: 80px;
    height: 80px;
    top: 80vh;
    left: calc(50vw - 40px);
}

#timer-and-score {
    font-family: 'Pokemon Solid', sans-serif;
    letter-spacing: 3px;
    width: 120px;
    display: block;
    position: absolute;
    left: calc(99vw - 120px);
    z-index: 2000;
}

#timer-and-score * {
    display: none;
    line-height: 1.3;
    color: #f5b700;
    text-shadow: 1px 1px #444;
}

#game-ended {
    display: none;
}

#final-score-message {
    font-size: 20px;
}

#game-menu {
    flex-shrink: 0;
}
