#pokeball-opening {
    display: none;
    position: absolute;
    z-index: 2000;
    width: 80px;
    height: 80px;
    top: 80vh;
    left: calc(50vw - 40px);
}

#timer-and-score {
    font-family: 'Pokemon Solid', sans-serif;
    letter-spacing: 3px;
    width: 140px;
    display: none;
    position: absolute;
    right: 20px;
    top: 75px;
    z-index: 2000;
}

#timer-and-score.active {
    display: block;
}

#timer-and-score div {
    line-height: 1.8;
    color: #f5b700;
    text-shadow: 1px 1px #444;
    font-size: 14px;
}

#timer-and-score #timer {
    font-weight: bold;
}

#timer-and-score #score {
    font-weight: bold;
}

#game-ended {
    display: none;
}

#final-score-message {
    font-size: 20px;
}

#game-menu {
    flex-shrink: 0;
}
