.creator-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(--pokemon-yellow);
}

.favorite-pokemon {
    width: 120px;
    height: 120px;
    object-fit: contain;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}

.pokemon-subheading {
    font-family: 'Pokemon Solid', sans-serif;
    letter-spacing: 2px;
    color: #ffcb05; 
    text-shadow: 2px 2px 0 #2a75bb;
}

