.logo {
    width: 32px;
    height: 32px;
}

.nav-link.active {
    font-weight: 600;
}

/* Bootstrap navbar expand breakpoint at 680px (custom) */
@media (min-width: 680px) {
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }

    .navbar-expand-custom .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
}

