<main class="home-box">
    <h1>Leaderboard</h1>
    <div id="leaderboard-container">
        <table id="leaderboard-table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Find Score</th>
                    <th>Quiz Score</th>
                </tr>
            </thead>
            <tbody id="leaderboard-body">
                <tr *ngFor="let user of users; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.finding_game_score || 0 }}</td>
                    <td>{{ user.quiz_score || 0 }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
