<main class="home-box">
    <div class="image-placeholder">
        <img src="assets/images/trainers_and_pokemons.png" alt="">
    </div>
    <h1>Welcome</h1>
    <p>
        Select a feature to start. For more information about Pokémon, 
        you can visit <a href="https://www.pokemon.com" target="_blank" class="external-link">the official Pokémon website</a>.
    </p>

    <nav class="home-links">
        <a routerLink="/quiz" class="btn">Quiz</a>
        <a routerLink="/game" class="btn">Find That Pokémon</a>
        <a routerLink="/leaderboards" class="btn">Leaderboard</a>
        <a routerLink="/about" class="btn">About</a>
        <a routerLink="/login" class="btn">Login</a>
    </nav>
</main>
