<footer class="bg-white d-flex justify-content-around d-flex align-items-center border-top mt-auto">
    <div class="container d-flex align-items-center justify-content-between gap-3">
        <img src="assets/images/footer/charmander.bmp" alt="Charmander" class="footer-pokemon d-none d-sm-block">

        <div class="flex-grow-1 text-center d-flex justify-content-around d-flex align-items-center">
            <a routerLink="/about" class="link-secondary fw-semibold text-decoration-none">About Us</a>
            <small class="d-block text-body-secondary">&copy; Copyright 2025 Group 37</small>
            <a target="_blank" href="https://lnu.se/en/" id="uni-logo" class="d-inline-flex mt-1">
                <img src="assets/images/linneuniversitetet.png" alt="Linnéuniversitetet" class="uni-logo">
            </a>
        </div>

        <img src="assets/images/footer/mew.bmp" alt="Mew" class="footer-pokemon d-none d-sm-block">
    </div>
</footer>
