.site-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: var(--navbar-height, 70px);
    background: #ffffff;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.05);
    margin-top: auto;
}

.site-footer div {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.site-footer div * {
    font-size: 16px;
    text-align: center;
}

.site-footer img {
    width: 75px;
    height: auto;
}

.site-footer a {
    color: #444;
}

.site-footer a:visited {
    color: #444;
}

.site-footer > div > a > img {
    width: 35px;
    height: 35px;
}

